body{

margin:0;

font-family:Arial;

background:#0f172a;

color:white;

}

header{

padding:80px;

text-align:center;

}

section{

padding:40px;

}

.cards{

display:flex;

gap:20px;

}

.card{

background:#1e293b;

padding:20px;

border-radius:15px;

transition:.3s;

}

.card:hover{

transform:scale(1.05);

}

button{

padding:15px;

border:none;

border-radius:10px;

cursor:pointer;

}

ul{

line-height:2;

}